@use "src/styles/mixins" as *;


:global {
	#hero-section {
		position: relative;
		overflow: hidden;
		//width: 99%;  // FIXME: This is a hack to disable side scrolling
		block-size: 76vh;
		min-block-size: 420px;
		max-block-size: 1024px;
		border-block-end: 1px solid var(--fds-divider-stroke-default);
		padding: 0 6rem;
		background-image: radial-gradient(var(--fds-card-background-default) 3px, transparent 0);
		background-size: 35px 35px;

		.page-section-inner {
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1.5fr;
			align-items: center;
			gap: 4rem;
		}
	}
}

.hero- {
	&left {
		@include flex($direction: column, $justify: center);
		flex: 1 1 auto;

		h1 {
			text-transform: uppercase;
			font-family: var(--font-family-caps);
			font-size: calc(3rem + 8vw);
			font-weight: 600;
			line-height: 0.9;
		}

		em {
			font-style: normal;
			font-weight: 600;
			color: var(--tukaan-accent);
		}
	}

	&right {
		@include flex($align: center);
		block-size: 100%;
		justify-content: center;

		@keyframes rotate-hue {
			0% {
				filter: none;
			}
			50% {
				filter: hue-rotate(180deg);
			}
			100% {
				filter: none;
			}
		}

		.pypi-command-wrapper {
			  position: block;
			  padding: 3px;
			  box-shadow: var(--fds-dialog-shadow);
			  border-radius: calc(var(--fds-overlay-corner-radius) + 3px);
			  background-image:
			  	linear-gradient(
					to bottom right,
					hsl(202, 97%, 45%),
					hsl(172, 100%, 42%),
					hsl(133, 67%, 59%),
					
				);
			animation: rotate-hue 18s linear infinite;
		}

		.pypi-command {
			@include flex($align: center);
			justify-content: space-between;
			padding: 3rem 5rem;
			border-radius: var(--fds-overlay-corner-radius);
			background-color: var(--fds-solid-background-base);

			span {
				font: {
					family: var(--font-family-monospace);
					weight: 400;
					size: 1.8rem;
				};
				white-space: pre;
				color: var(--fds-text-primary);
			}
		}
	}
}

@media screen and (width < 1024px) {
	:global {
		#hero-section {
			block-size: auto;
			max-block-size: unset;
			padding: 0;

			.page-section-inner {
				grid-template-columns: auto;
			}
		}
	}

	.hero- {
		&left {
			align-items: center;
			text-align: center;
		}

		&right .pypi-command {
			position: relative;
			max-inline-size: 708px;
			block-size: auto;
		}
	}
}

@media screen and (width < 768px) {
	.hero-left h1 {
		font-size: calc(3rem + 10vw);
	}
	.hero-right {
		display: none;
	}
	:global {
		#hero-section {
			block-size: 10vh;
			.page-section-inner {
				position: relative;
				display: flex;
				grid-template-columns: 1fr;
				align-items: center;
				gap: 0;
			}
		}
	}
}
